mixin text-block(obj)
    .text-block&attributes(attributes)
        .container.text-block__row
            .text-block__column
                each item in obj.arr
                    p!=item
            img(src!="img/" + obj.img + "", alt="text-img")

mixin banner(obj)
    section.banner(style="background-image: url('img/" + obj.img + "');")&attributes(attributes)
        .container.banner__container
            h1.banner__caption!=obj.caption
            p.banner__text!=obj.text
            a(href="#price").banner__sale!=obj.saleText

mixin other(obj)
    section.other&attributes(attributes)
        .container.other__container
            h2.h2!=obj.caption
            ul
                each item in obj.arr
                    li  
                        .other__svg
                            if item.img
                                img(src="img/"+item.img, width=item.width, height=item.height)
                            else
                                svg(width=item.width height=item.height)
                                    use(xlink:href=item.icon)
                        p=item.text

mixin card(obj)
    .card&attributes(attributes)
        img(src=obj.img)
        .card__column
            h3!=obj.name
            p!=obj.price
            button.button(type="button") Рассчитать стоимость

mixin one-price(obj)
    section.one-price(id="price")&attributes(attributes)
        .container.one-price__container
            h2.h2 Price
            +card(obj).one-price__card

mixin gallery(obj)
    section.gallery(id="gallery")&attributes(attributes)
        .container.gallery__container
            h2.h2 View gallery
            .slider.gallery__slider
                .swiper-container
                    .swiper-wrapper
                        each item in obj.arr
                            .swiper-slide
                                img(src=item)
                        //- each item in ["img/price-3.png","img/building-2.png","img/gallery-1.png"]
                button.js-btn-next(type="button")
                    svg(width="10" height="18")
                        use(xlink:href="#icon-arrow-slider")
                button.js-btn-prev(type="button")
                    svg(width="10" height="18")
                        use(xlink:href="#icon-arrow-slider")
